.header {
  background-color:#212529;
  padding: 0.75em 0 1.25em 0;
}

.header .logo {
  font-size: 1.25em;
  font-weight: 900;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header .normal-weight {
  font-weight: normal;
}

.header .logo a {
  color: #fff;
}

.header .logo a:hover {
  text-decoration: none;
}