#post .cover,
#post .background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

#post .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

#post .cover .post-wrapper {
    margin-top: 10em;
}

#post .post-wrapper {
    background-color: rgba(255,255,255,.5);
    background: linear-gradient(180deg,rgba(250,250,250,.85) 0,rgba(250,250,250,.7) 1%,rgba(255,255,255,.5));
    padding: 3em 5em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.1);
}

#post .body mark,
:not(pre) > code[class*="language-"] {
    padding: 0.25em 0.5em;
    text-shadow: 1px 1px 1px #ccc;
}

#post .body mark {
    border-radius: .3em;
    background-color: #cc0000;
    text-shadow: 1px 1px 1px #333;
    color: #fff;
}

#post .body p {
    line-height: 2em;
}

#post .body img {
    display: inline-block;
    margin: 0 auto;
}

#post .body video {
    width: 100%;
}

#post .body blockquote {
    border-left: #cc0000 0.5em solid;
    padding-left: 1.5em;
}

#post .body a {
    color: #cc0000;
    text-decoration: none;
    font-weight: bold;
}

#post .body a:hover {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#post .body a:visited {
    color: #30966d;
    text-decoration: none;
    font-weight: bold;
}

#post .body .post-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#post .body .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin-bottom: 1em;
}

#post .body .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#post .post-wrapper p:hover {
    background-color: #007bff2a;
    margin-left: -2em;
    padding-left: 1.5em;

    margin-right: -2em;
    padding-right: 2em;

    border-left: solid 0.5em #007bff;
}

#post .post-wrapper .post-tag-container .button {
    background-color: #cc0000;
    color: #fff;
}

#post .post-wrapper .post-tag-container .button:hover {
    background-color: #007bff;
    color: #fff;
}