p a {
  text-decoration: none;
}
.bio {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-top: 6rem;
}

.bio h1 {
  font-size: 3.5em;
}

.photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url("https://pbs.twimg.com/profile_images/1016216577967050753/kNax-WlD_400x400.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border: solid 15px #21252988;
}