.icons {
    position: absolute;
    top: 0.25em;
    right: 1.5em;
}

.icons > .icon {
    display:inline-block;
    cursor: pointer;
    margin-left:0.5em;
    width: 60px;
    height: 60px;
}

.icons > .icon.active {
    background-color: #3c3b3b80;
    border-radius: 4px;
}

.icons > .icon > i {
    display:inline-block;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 15px;
}