/* Navigation */

.nav-title {
    position: absolute;
    right:1em;
    top: 0.75em;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.nav {
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 240px;
    background: #212529;
    margin-bottom: 0;
    text-align: left;
    overflow-y: auto;
    -webkit-transition:
        -webkit-transform 0.5s ease,
        opacity 0.3s ease 0.7s;
    transition:
        transform 0.5s ease,
        opacity 0.3s ease 0.7s;
}

.nav.open {
    opacity: 1;
    -webkit-transition:
        -webkit-transform 0.3s ease,
        opacity 0s ease 0s;
    transition:
        transform 0.3s ease,
        opacity 0s ease 0s;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nav.closed {
    opacity: 0;
    -webkit-transform: translate3d(240px, 0, 0);
    -ms-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
}

.nav ul {
    list-style: none;
    counter-reset: item;
    padding: 0px;
}

.nav li::before {
    display: block;
    float: left;
    padding-top: 1em;
    padding-right: 0.025em;
    padding-left: 1em;
    text-align: right;
    font-size: 1.2rem;
    vertical-align: bottom;
    color: #b8b8b8;
    content: counter(item, lower-roman);
    counter-increment: item;
}

.nav li {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-left: 0px;
}

.nav li:hover a::after,
.nav li:hover::before,
.nav li:hover {
    background-color: #cc0000;
    color: white;
}

.nav li a {
    color: white;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
    padding: 1em;
}

.nav li a::after {
    display: inline-block;
    content: " .......................................................";
    color: rgba(255, 255, 255, 0.2);
    margin-left: 5px;
}

.nav .nav-current {
    background-color: teal;
}

.nav .nav-current a::after {
    content: " ";
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
    width: 100%;
    height: 1px;
}