.post-preview a {
  text-decoration: none;
}

.post-preview .post-title {
  font-size: 2em;
  line-height: 1.5em;
}

.post-preview .post-subtitle {
  font-weight: 300;
  line-height: 1.75em;
  line-height: 1.75em;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.post-preview .post-meta {
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  color: #868e96;
  text-align: right;
  width: 100%;
  margin: 0.5em;
}

.post-preview .post-meta time {
  margin: 2px;
}

.post-preview .post-meta .estTimeToRead {
  margin-left: 0.25em;
}