.post-preview a {
  text-decoration: none;
}

.post-preview .post-title {
  font-size: 1.5em;
  line-height: 1.5em;
}

.post-preview .post-subtitle {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.75em;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}