.read-next {
    position: absolute;
    background-color: #fff;
    width: 100%;
    border-top: solid 0.5em #cc0000;
    display: flex;
    padding: 2.5em 3em;
}

.read-next,
.read-next-story:hover {
    text-decoration: none;
}

.read-next-story {
    padding-left: 1.5em;
    padding-right: 1.54em;
}

.read-next + .site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    .read-next {
        display: block;
    }

    .read-next .post {
        width: 100%;
    }

    .read-next p {
        display: none;
    }

    .read-next .post-meta.right {
        text-align: left;
    }
}