.read-next-compact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-self: baseline;
    margin-bottom: 2em;
}

.read-next-compact a:nth-child(1) {
    order: 1;
    flex-basis: 50%;
    padding-right: 1em;
    display: inline;
}

.read-next-compact a:nth-child(2) {
    order: 2;
    flex-basis: 50%;
    text-align: right;
    padding-left: 1em;
}

.read-next-compact h2 {
    font-size: 0.75em;
    font-style: normal;
}

.read-next-compact a:hover,
a.read-next-compact:hover {
    text-decoration: none;
}

.read-next-compact .post p {
    display: none;
}

.read-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #cc0000;
}

.read-next-story {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 50%;
    text-decoration: none;
    position: relative;
    text-align: center;
    color: #fff;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
    padding: 0em 3.5em;
    text-shadow: black 2px 2px 2px;
}

.read-next-story:hover {
    text-decoration: none;
    color: #fff;
}

.read-next-story:hover::before {
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease;
}

.read-next-story:hover .post::before {
    color: #222;
    background: #fff;
    transition: all 0.2s ease;
}

.read-next-story::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}

.read-next-story .post {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.read-next-story .post::before {
    content: "Read This Next";
    padding: 4px 10px 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.8);
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.read-next-story.prev .post::before {
    content: "You Might Enjoy";
}

.read-next-story h2 {
    margin-top: 1rem;
    color: #fff;
}

.read-next-story p {
    margin: 0;
    color: rgba(255, 255, 255 0.8);
}

.read-next + .site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

@media only screen and (max-width: 900px) {
    .read-next {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 4rem;
    }

    .read-next p {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .read-next {
        margin-top: 2rem;
        margin-bottom: -37px;
    }

    .read-next .post {
        width: 100%;
    }
}