.post-title {
  font-size: 2em;
  line-height: 1.5em;
}

.post-title a {
  text-decoration: none;
}

.post-subtitle {
  font-weight: normal;
  font-style: italic;
  font-size: 1em;
  line-height: 1.75em;
}

.post-meta {
  display: inline;
}

.post-meta time {
  margin: 2px;
}